# Exclude temporary and cache files
*.pyc
__pycache__/

# Exclude development and version control files
.vscode/
.git/
.gitignore

# Exclude Docker-related files
Dockerfile
.dockerignore

# Exclude data files that are not needed for the Docker image
data/
report/
*.md
path/

# Exclude virtual environment files
venv/
myenv/
